In [17]:
#1. Import dataset
import pandas as pd
df= pd.read_csv("Metabolic Syndrome.csv")
df

,seqn,Age,Sex,Marital,Income,Race,WaistCirc,BMI,Albuminuria,UrAlbCr,UricAcid,BloodGlucose,HDL,Triglycerides,MetabolicSyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,0
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,0
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,0
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,0
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2396,71901,48,Female,Married,1000.0,Other,NaN,59.7,0,22.11,5.8,152,57,107,0
2397,71904,30,Female,Single,2000.0,Asian,NaN,18.0,0,2.90,7.9,91,90,91,0
2398,71909,28,Male,Single,800.0,MexAmerican,100.8,29.4,0,2.78,6.2,99,47,84,0
2399,71911,27,Male,Married,8200.0,MexAmerican,106.6,31.3,0,4.15,6.2,100,41,124,1
2400,71915,60,Male,Single,6200.0,White,106.6,27.5,0,12.82,5.2,91,36,226,1

In [9]:
#6. Identify object type columns
object_cols = df.select_dtypes(include=['object']).columns

# Convert object type columns to category
df[object_cols] = df[object_cols].astype('category')

# Verify the conversion
print("Data types after conversion:")
print(df.dtypes)

# Optional: Show memory usage before and after conversion
print("\nMemory usage before conversion:", df.memory_usage(deep=True).sum()/1024, "KB")

Data types after conversion:
seqn                    int64
Age                     int64
Sex                  category
Marital              category
Income                float64
Race                 category
WaistCirc             float64
BMI                   float64
Albuminuria             int64
UrAlbCr               float64
UricAcid              float64
BloodGlucose            int64
HDL                     int64
Triglycerides           int64
MetabolicSyndrome       int64
dtype: object

Memory usage before conversion: 233.404296875 KB

In [10]:
#7. Convert data types
df[['Albuminuria', 'MetabolicSyndrome']] = df[['Albuminuria', 'MetabolicSyndrome']].astype('category')
# Verify the conversion
print("Data types after conversion:")
print(df.dtypes)

Data types after conversion:
seqn                    int64
Age                     int64
Sex                  category
Marital              category
Income                float64
Race                 category
WaistCirc             float64
BMI                   float64
Albuminuria          category
UrAlbCr               float64
UricAcid              float64
BloodGlucose            int64
HDL                     int64
Triglycerides           int64
MetabolicSyndrome    category
dtype: object

In [11]:
# 10. Remove missing values if they exist
if df.isnull().sum().sum() > 0:
    df_clean = df.dropna()
    print(f"\nRemoved {len(df) - len(df_clean)} rows with missing values")
    print("New dimensions after removal(train):", df_clean.shape)
else:
    print("\nNo missing values found in the dataset")
    df_clean = df.copy()

Removed 392 rows with missing values
New dimensions after removal(train): (2009, 15)

In [18]:
import pandas as pd

# Define waist circumference thresholds
MALE_THRESHOLD = 101.6  # inches
FEMALE_THRESHOLD = 88.9  # inches

# Create masks for high waist circumference by gender
high_wc_males = (df_clean['Sex'] == 'Male') & (df_clean['WaistCirc'] > MALE_THRESHOLD)
high_wc_females = (df_clean['Sex'] == 'Female') & (df_clean['WaistCirc'] > FEMALE_THRESHOLD)

# Combine both genders
high_wc = high_wc_males | high_wc_females

# Count MetabolicSyndrome cases among those with high waist circumference
results = df_clean[high_wc]['MetabolicSyndrome'].value_counts().reset_index()
results.columns = ['MetabolicSyndrome', 'Count']

# Calculate percentages
total = results['Count'].sum()
results['Percentage'] = (results['Count'] / total * 100).round(1)

print("Count of Metabolic Syndrome cases in individuals with high waist circumference:")
print(results)

# Additional breakdown by gender
print("\nBreakdown by gender:")
gender_results = df_clean[high_wc].groupby(['Sex', 'MetabolicSyndrome']).size().unstack()
print(gender_results)

Count of Metabolic Syndrome cases in individuals with high waist circumference:
  MetabolicSyndrome  Count  Percentage
0                 1    620        57.0
1                 0    467        43.0

Breakdown by gender:
MetabolicSyndrome    0    1
Sex
Female             331  333
Male               136  287

C:\Users\Ashani Madushani\AppData\Local\Temp\ipykernel_3596\4036911265.py:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gender_results = df_clean[high_wc].groupby(['Sex', 'MetabolicSyndrome']).size().unstack()

In [19]:
import pandas as pd

# Define waist circumference thresholds
MALE_THRESHOLD = 101.6  # inches
FEMALE_THRESHOLD = 88.9  # inches

# Create masks for high waist circumference by gender
high_wc_males = (df_clean['Sex'] == 'Male') & (df_clean['WaistCirc'] < MALE_THRESHOLD)
high_wc_females = (df_clean['Sex'] == 'Female') & (df_clean['WaistCirc'] < FEMALE_THRESHOLD)

# Combine both genders
high_wc = high_wc_males | high_wc_females

# Count MetabolicSyndrome cases among those with high waist circumference
results = df_clean[high_wc]['MetabolicSyndrome'].value_counts().reset_index()
results.columns = ['MetabolicSyndrome', 'Count']

# Calculate percentages
total = results['Count'].sum()
results['Percentage'] = (results['Count'] / total * 100).round(1)

print("Count of Metabolic Syndrome cases in individuals with high waist circumference:")
print(results)

# Additional breakdown by gender
print("\nBreakdown by gender:")
gender_results = df_clean[high_wc].groupby(['Sex', 'MetabolicSyndrome']).size().unstack()
print(gender_results)

Count of Metabolic Syndrome cases in individuals with high waist circumference:
  MetabolicSyndrome  Count  Percentage
0                 0    828        90.2
1                 1     90         9.8

Breakdown by gender:
MetabolicSyndrome    0   1
Sex
Female             339  18
Male               489  72

C:\Users\Ashani Madushani\AppData\Local\Temp\ipykernel_3596\2659143961.py:27: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gender_results = df_clean[high_wc].groupby(['Sex', 'MetabolicSyndrome']).size().unstack()

In [20]:
# Filter based on Triglyceride levels â‰¥ 150
trigly_condition = df_clean['Triglycerides'] >= 150

# Apply the condition
filtered_df = df_clean[trigly_condition]

# Count Metabolic Syndrome and Non-Metabolic Syndrome in the filtered data
syndrome_counts = filtered_df['MetabolicSyndrome'].value_counts()

# Display result
print("Counts for individuals with Triglycerides â‰¥ 150 mg/dL:")
print(syndrome_counts)

Counts for individuals with Triglycerides â‰¥ 150 mg/dL:
MetabolicSyndrome
1    384
0    116
Name: count, dtype: int64

In [22]:
# Define the HDL condition
hdl_condition = (
    ((df_clean['Sex'] == 'Male') & (df_clean['HDL'] < 40)) |
    ((df_clean['Sex'] == 'Female') & (df_clean['HDL'] < 50))
)

# Filter the dataset based on the HDL condition
filtered_df = df_clean[hdl_condition]

# Create a crosstab of Metabolic Syndrome by Sex
output = pd.crosstab(filtered_df['Sex'], filtered_df['MetabolicSyndrome'])

# Rename columns for clarity (optional)
output.columns = ['Non-Metabolic', 'Metabolic']
output.index.name = 'Sex'

# Print breakdown
print("Breakdown by gender:")
print(output.T)

Breakdown by gender:
Sex            Female  Male
Non-Metabolic      90    68
Metabolic         211   160

In [23]:
# Filter for Fasting Blood Sugar >= 100 mg/dL
high_fbs = df_clean[df_clean['BloodGlucose'] >= 100]

# Count Metabolic Syndrome and Non-Metabolic Syndrome
fbs_counts = high_fbs['MetabolicSyndrome'].value_counts()

# Display result
print("Counts for individuals with fasting blood sugar â‰¥ 100 mg/dL:")
print(fbs_counts)

Counts for individuals with fasting blood sugar â‰¥ 100 mg/dL:
MetabolicSyndrome
1    610
0    401
Name: count, dtype: int64

In [24]:
# Prediabetes: 100â€“125 mg/dL
prediabetes = df_clean[(df_clean['BloodGlucose'] >= 100) & (df_clean['BloodGlucose'] <= 125)]
prediabetes_counts = prediabetes['MetabolicSyndrome'].value_counts()

# Type 2 Diabetes: >125 mg/dL
diabetes = df_clean[df_clean['BloodGlucose'] > 125]
diabetes_counts = diabetes['MetabolicSyndrome'].value_counts()

# Print results
print("Prediabetes (100â€“125 mg/dL):")
print(prediabetes_counts)

print("\nType 2 Diabetes (>125 mg/dL):")
print(diabetes_counts)

Prediabetes (100â€“125 mg/dL):
MetabolicSyndrome
1    419
0    341
Name: count, dtype: int64

Type 2 Diabetes (>125 mg/dL):
MetabolicSyndrome
1    191
0     60
Name: count, dtype: int64